body {
  font-family: 'Montserrat', sans-serif; }
  @media (min-width: 768px) {
    body .iphone {
      z-index: 1;
      position: relative; }
    body .whitebar {
      display: inline-flex;
      margin-top: -45px; } }
  body .hero {
    background-color: #0cb3f8;
    color: white; }
  body .navbar {
    margin-top: 4rem;
    margin-bottom: 2rem; }
  body .nav-link {
    color: white;
    font-weight: 600; }
  body .nav-link:hover:after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 3px solid white; }
  body .nav-link:after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 3px solid transparent; }
  body .navbar-brand {
    color: white;
    font-weight: 600; }
  body h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-left: -1rem;
    margin-bottom: 2rem; }
  body .hero-word {
    margin-bottom: 4rem;
    font-size: 1.2rem; }
  body .whitebar {
    background-color: white; }
  body .bartext {
    color: black; }
  body .pricing {
    background-color: darkgrey; }
  body .apple_download {
    border-style: solid;
    border-radius: 20px;
    margin-left: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem; }
  body .apple {
    vertical-align: text-top;
    padding-right: 0.5rem; }
  body .apple_download .blackapple {
    display: none; }
  body .apple_download:hover .blackapple {
    display: inline; }
  body .apple_download:hover .whiteapple {
    display: none; }
  body .learn {
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    text-decoration: none; }
  body .learn:hover:after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 3px solid white; }
  body .learn:after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 3px solid transparent; }
  body .downloadrow {
    margin-bottom: 3rem; }
  body .btn {
    border-radius: 20px;
    font-weight: 600; }
  body .new {
    font-size: 0.8rem;
    font-weight: 400; }
  body .getnew {
    font-size: 0.8rem;
    font-weight: 400; }
  body .contents {
    background-color: #f5f4f4;
    color: #242526;
    text-align: center; }
    body .contents h3 {
      font-weight: 700;
      font-size: 0.95rem;
      padding-bottom: 0.8rem; }
    body .contents h2 {
      font-weight: 700;
      font-size: 2.5rem; }
    body .contents p {
      font-weight: 400;
      color: #747474;
      font-size: 0.9rem; }
    body .contents .subt {
      font-size: 1.2rem; }
  body .pricing {
    background-color: #222222;
    color: #ffffff; }
    body .pricing h3 {
      font-weight: 700;
      font-size: 0.95rem; }
    body .pricing h2 {
      font-weight: 700;
      font-size: 2.5rem; }
    body .pricing p {
      font-weight: 400;
      font-size: 0.9rem; }
  body .pricing h3 {
    font-size: 0.7rem; }
  body .pricing h2 {
    font-weight: 600; }
  body .pricing p {
    font-size: 0.7rem; }
  body .pricing ul {
    font-size: 0.9rem; }
  body .pricing .trybutton {
    border-width: 2px;
    font-weight: 600;
    font-size: 0.6rem;
    padding: 0.6rem 1.7rem; }
  body .pricing .motivating {
    font-weight: 400;
    font-size: 0.9rem; }
  body .subscription {
    background-image: url("../images/bg.png");
    background-size: cover;
    color: white;
    background-repeat: no-repeat; }
    body .subscription h2 {
      font-weight: 800;
      font-size: 2.7rem; }
    body .subscription .btn {
      border-radius: 4px !important;
      font-size: 0.6rem;
      font-weight: 600; }
    body .subscription .form-control {
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      border-width: 0;
      margin-right: -4px;
      font-size: 0.8rem;
      padding-top: 1.2rem !important;
      padding-bottom: 1.2rem !important; }
    body .subscription .form-control::-webkit-input-placeholder {
      color: white;
      font-size: 0.8rem; }
  body footer a {
    font-weight: 600;
    font-size: 0.8rem; }
  body footer p {
    font-weight: 400;
    font-size: 0.8rem; }
